<main class="container-fluid" ng-controller="studentControl">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center bg-light pt-3 pb-3 mb-2 mt-2">
				STUDENT REGISTRATION FORM
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 jumbotron pt-3">
			<form role="form" name="myForm" novalidate>
				<div class="form-group">
					<label>FIRSTNAME</label>
					<input type="text" name="fname" ng-model="fname" class="form-control" required>
					<span style="color:red" ng-show="myForm.fname.$dirty && myForm.fname.$invalid">
						<span ng-show="myForm.fname.$error.required">Firstname is required.</span>
					</span>
				</div>
				<div class="form-group">
					<label>LASTNAME</label>
					<input type="text" name="lname" ng-model="lname" class="form-control" required>
				</div>
				<div class="form-group">
					<label>MATRIC NUMBER</label>
					<input type="text" name="matno" ng-model="matno" class="form-control" required>
				</div>
				<div class="form-group">
					<label>COURSE</label>
					<input type="text" name="courses" ng-model="courses" class="form-control" required>
				</div>
				<div class="form-group">
					<label>PHONE NUMBER</label>
					<input type="text" name="pnumber" ng-model="pnumber" class="form-control" required>
				</div>
				<div class="form-group">
					<label>E-MAIL ADDRESS</label>
					<input type="email" name="emailadd" ng-model="emailadd" class="form-control" placeholder="e.g: example@email.com" required>
					<span style="color:red" ng-show="myForm.emailadd.$dirty && myForm.emailadd.$invalid">
						<span ng-show="myForm.emailadd.$error.required">Email is required.</span>
						<span ng-show="myForm.emailadd.$error.email">Invalid email address.</span>
					</span>
				</div>
				<button type="submit" ng-click="add('a1')" class="btn btn-primary btn-block" ng-disabled="myForm.fname.$dirty && myForm.fname.$invalid || myForm.emailadd.$dirty && myForm.emailadd.$invalid">SUBMIT</button>
			</form>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-8">
					<form class="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-search"></i>
									</div>
								</div>
							<input type="" ng-model="searchName" class="form-control" name="" placeholder="search name here">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div style="text-align:right;">
						<button class="btn" ng-click="checkInfo()">View Registered Students</button>
					</div>
				</div>
			</div>	
			<table class="table table-striped" border="1">
				<thead>
					<tr>
						<th>SN</th>
						<th>FIRSTNAME</th>
						<th>LASTNAME</th>
						<th>MATRIC NUMBER</th>
						<th>COURSE</th>
						<th>PHONE NUMBER</th>
						<th>E-MAIL ADDRESS</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in studentInfo | filter:searchName | orderBy:'firstname' | limitTo:10">
						<td>{{$index+1}}</td>
						<td>{{x.firstname}}</td>
						<td>{{x.lastname}}</td>
						<td>{{x.matricno}}</td>
						<td>{{x.course}}</td>
						<td>{{x.phone}}</td>
						<td>{{x.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
<footer class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-8">
			<ul class="pagination pager">
				<li class="page-item">
					<a href="#" class="page-link">Prev</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">1</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">2</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">3</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">4</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link">5</a>
				</li>
				<li class="page-item">
					<a href="#" class="page-link" id="next">Next</a>
				</li>
			</ul>
		</div>
	</div>
</footer>